
.hashtagContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.hashtagContainer h4{
    font-size: 1.4em;
    font-weight: bold;
    margin: 5px;
    padding: 0;
}

.hashtagContainer p{
    margin: 5px;
    padding: 0;
}