.globalContainer {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #161d28;
}

.leftContainer {
    width: 20vw;
    height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: #3a414c 2px solid;
}

.twitterIcon {
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
}

.cardUserContainer {
    display: flex;
    flex-direction: column;
}

.userContainer {
    display: flex;
    align-items: center;
    margin:0;
    padding: 0;
}

.logOutBtn {
    padding: 5px 10px;
    border: 2px solid white;
    text-align: center;
    border-radius: 25px;
    width: 40%;
    margin: 5px;
    cursor: pointer;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textContainer h3 {
    margin: 0;
    padding: 0;
}

.textContainer p {
    margin: 0;
    padding: 0;
}

.centerContainer {
    width: 50vw;
    border-right: #3a414c 2px solid;
    display: flex;
    flex-direction: column;
   
}

.headerContainer {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    
    /* align-items: center; */
}

.inputBtnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerContainer textarea{
    font-size: 1.5em;
    padding: 5px 5px;
    width: 80%;
    resize: none;
}

.counterBtnContainer {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
}

.tweetBtn {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 10px 50px;
    margin: 0 10px 0 40px;
    background-color: #3690ee;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
}

.contentContainer {
    height: 80vh;
    border-top: #3a414c 2px solid;
    overflow-y: auto;
}

.tweet {
    border-bottom: #3a414c 2px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0;
    /* background-color: aqua; */
}

.tweetHeader {

    padding: 0 15px;
    margin: 0;
    display: flex;
    align-items: center;
}

.userImage {
    border-radius: 50%;
    margin-right: 15px;
}

.tweetHeader h3 {
    padding-right: 5px;
}

.tweetText {
    margin: 0 0 5px 0;
    padding: 5px 15px;
    font-size: 25px;
}

.btnsContainer {
    padding: 0 15px;
    display: flex;
}

.tweetIcons {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.rightContainer {
    padding: 15px;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.trendsContainer {
    background-color: #1c232d;
    padding: 25px;
    border-radius: 20px;
}

.hashtagContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.hashtagContainer h4{
    font-size: 1.3em;
    font-weight: bold;
    margin: 5px;
    padding: 0;
}

.hashtagContainer p{
    margin: 5px;
    padding: 0;
}
